*{
	margin: 0 auto;
	padding: 0px;
}
.wrapper{
	width: 70%;
}
header img{
	width: 10%;
}	
table img{
	width: 150px;
	margin-bottom: 100px;
}
.box{
	display: flex;
	justify-content: space-between;
}
.box2{
	display: flex;
	justify-content: space-between;
}
.box3{
	display: flex;
	flex-direction: column;
	padding-left: 60px;
}
table{
  width: 70vw;
  text-align: left;
}


